body{
        background-color: #f2a7a7;
        padding: 0px;
        margin: 0px;

    }
    h1{
        text-align: center;
        background-color: #c55454;
       color:whitesmoke;
       margin: 30px;
    }
    section{
       background-color: white;
        padding: 20px;
        margin: 20px;
         margin-left: 50px;
        height: 150px;
        width: 500px;
        border-radius: 8px;
        box-shadow: 0 0 5px black;
        
        
    }
    h2{
        color:#333
    }
    ul{
      color: #333;
      
    }